#resume-section {
  width: 100%;
min-height: 100vh;
background-image: url('wallhaven.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(200, 100, 0, 0.5);
  background-blend-mode: multiply;
display: flex;
justify-content: center;
align-items: center;
}

.ikcontainer {
  width: 100%;
  padding: 35px 10%;
}
.ikcontainer{
padding-right: calc(10% - 30px);
}

main.row{
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 20px;
}

.title{
font-family: helvetica;
color: skyblue;
  z-index: 1;
  padding: 0px 0px 20px 30px;
}
.col .contents{
padding: 0px 30px;
border-left: 2px solid white;
}
.col .contents .box{
position: relative;
padding: 20px;
border: 1px solid #eaeaea;
background-color: transparent;
cursor: pointer;
transition: all 0.4s;
margin-bottom: 20px;
}
.col .contents .box:hover{
box-shadow: 0px 3px 12px 0px white;
border: 1px solid transparent;
}
.col .contents .box::before{
content: '';
position: absolute;
width: 16px;
height: 16px;
border-radius: 50%;
right: calc(100% + 22px);
top: 0;
background-color:skyblue;
border: 2px solid white;
}
.box h4{
position: relative;
color: skyblue;
}
.box h3{
font-size: 19px;
padding: 10px 0px 6px;
font-family: helvetica;
color: #ffffff;
}
.box p{
line-height: 1.2;
color: #ffffff;
font-size: 17px;
}
@media(max-width: 768px){
main.row{
  grid-template-columns: 1fr;
}
.row .col:nth-child(2){
  margin-top: 30px;
}
}